::-webkit-scrollbar {
  width : 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2b2929;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #080808;
}

div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4a9e94;
}

div::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #00ffe1;
}
